:root {
    --heading: #4D4D4D;
    --subheading: #fff;
    --section: #DADADE;
    --bg: #2A2A2A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    font-size: 70px;
    color: var(--heading);
}

/* nav bar styling */

ul {
    list-style-type: none;
    margin: 1rem;
}

li {
    color: var(--section);
}

.bottom-nav img {
    width: 70%;
}

/* first text styling */
.hook1 {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    color: var(--section);

}

.hook2 {
    text-align: right;
    color: var(--section);
}

.contact {
    background-color: var(--section);
}

/* websites and webdesign styling*/

iframe {
    border: none;
    display: block;
    margin: 0 auto;
}



@media (min-width: 350px) {
    h1 {
        margin-left: 2rem;
    }


    /* landing picture styling */

    .img1 {
        display: none !important;
    }

    .img2 {
        width: 100%;
    }

    /* navigation styling */

    .nav {
        display: none !important;
    }

    .bottom-nav {
        color: var(--heading);
        position: fixed;
        bottom: 0;
        text-align: center;
        overflow: hidden;
        margin-left: 4rem;
    }

    .bottom-nav ul {
        list-style-type: none;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    li {
        background-color: var(--section);
        color: var(--heading);
        padding: 1.2rem 1.3rem;
        border-radius: 3rem;
        text-align: center;
        margin: 0.6rem;
        font-size: 19px;
        box-shadow: 2px 2px 5px #000;
    }

    /* "yes its comic sans" styling */

    .secondtxt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20rem 8rem;
    }
    

    /*works section*/

    .works {
        margin-top: 20rem;
    }

    .butt img {
        display: block;
        width: 60%;
        margin: 0 auto;
        box-shadow: 5px 5px 8px #000;
    }

    .works h3 {
        margin-bottom: 2rem;
    }

    /* animation for the titles of body of work*/

    .move {
        color: #fff;
        font-size: 15px;
        letter-spacing: 5px;
        

        position: relative;
        animation-name: subheadings;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

    }

    @keyframes subheadings {
        from {left: 12px;}
        to {left: 102px;}
    }

    /*about section*/

    .about {
        margin-top: 20rem;
    }

    .designer {
        display: block;
        width: 50%;
        margin: 0 auto;
        border-radius: 8rem;
    }

    .abouttxt {
        margin: 1rem 7rem 0rem 7rem;
        color: var(--subheading);
    }

    /*contact section*/

    .contact {
        margin-top: 20rem;
        margin-left: 4rem;
        margin-right: 4rem;
        border-radius: 10rem;
        padding: 8rem 0rem;
    }

    .contact p {
        margin-left: 3rem;
        line-height: 3rem;
    }
   
    /* websites and webdesign page styling */

    .adastra {
        background-color: var(--section);
        padding: 6rem 1.6rem;
        margin: 0rem 4rem;
        border-radius: 10rem;
        color: var(--heading);
    }

    .damhsa {
        background-color: var(--section);
        padding: 6rem 1.6rem;
        margin: 0rem 4rem;
        border-radius: 10rem;
        color: var(--heading);
    }

    .damhsa img {
        width: 92%;
        display: block;
        margin: 0 auto;
        padding-top: 0.5rem;
        padding-top: 0.5rem;
    }

    .orchil {
        background-color: var(--section);
        padding: 6rem 1.6rem;
        margin:  0rem 4rem 17rem 4rem;
        border-radius: 10rem;
        color: var(--heading);
    }

    .orchildesign {
        display: flex;
        flex-direction: row;
    }

    .orchildesign img {
        width: 45%;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    footer img {
        width: 30%;
        display: block;
        margin: 0 auto;
        margin-bottom: 9rem;
    }
}

@media (max-width: 768px) {
    h1 {
        margin-left: 2rem;
    }

    #web {
        margin-top: 3rem;
    }

    /* landing picture styling */

    .img1 {
        display: none !important;
    }

    .img2 {
        width: 100%;
    }

    /* navigation styling */

    .nav {
        display: none !important;
    }

    .bottom-nav {
        color: var(--heading);
        position: fixed;
        bottom: 0;
        text-align: center;
        overflow: hidden;
        margin-left: 11rem;
    }

    .bottom-nav ul {
        list-style-type: none;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    li {
        background-color: var(--section);
        color: var(--heading);
        padding: 1.2rem 1.3rem;
        border-radius: 3rem;
        text-align: center;
        margin: 0.6rem;
        font-size: 24px;
        box-shadow: 2px 2px 5px #000;
    }

    /* "yes its comic sans" styling */

    .secondtxt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20rem 8rem;
    }
    

    /*works section*/

    .works {
        margin-top: 20rem;
    }

    .butt img {
        display: block;
        width: 60%;
        margin: 0 auto;
        box-shadow: 5px 5px 8px #000;
    }

    .works h3 {
        margin-bottom: 2rem;
    }

    /* animation for the titles of body of work*/

    .move {
        color: #fff;
        font-size: 15px;
        letter-spacing: 5px;
        

        position: relative;
        animation-name: subheadings;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

    }

    @keyframes subheadings {
        from {left: 12px;}
        to {left: 102px;}
    }

    /*about section*/

    .about {
        margin-top: 20rem;
    }

    .designer {
        display: block;
        width: 50%;
        margin: 0 auto;
        border-radius: 8rem;
    }

    .abouttxt {
        margin: 1rem 7rem 0rem 7rem;
        color: var(--subheading);
    }

    /*contact section*/

    .contact {
        margin-top: 20rem;
        margin-left: 4rem;
        margin-right: 4rem;
        border-radius: 10rem;
        padding: 8rem 0rem;
    }

    .contact p {
        margin-left: 3rem;
        line-height: 3rem;
    }
   
    /* websites and webdesign page styling */

    .adastra {
        background-color: var(--section);
        padding: 9rem 8rem;
        margin: 0rem 5rem;
        border-radius: 23rem;
        color: var(--heading);
    }

    .damhsa {
        background-color: var(--section);
        padding: 9rem 8rem;
        margin: 0rem 5rem;
        border-radius: 23rem;
        color: var(--heading);
    }

    .damhsa img {
        width: 92%;
        display: block;
        margin: 0 auto;
        padding-top: 0.5rem;
        padding-top: 0.5rem;
    }

    .orchil {
        background-color: var(--section);
        padding: 9rem 8rem;
        margin:  0rem 5rem 17rem 5rem;
        border-radius: 23rem;
        color: var(--heading);
    }

    .orchildesign {
        display: flex;
        flex-direction: row;
    }

    .orchildesign img {
        width: 45%;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    footer img {
        width: 30%;
        display: block;
        margin: 0 auto;
        margin-bottom: 9rem;
    }
}